bellabeat_sql_csv/user_tracking_times.csv
bellabeat_sql_csv/weekday_steps.csv
bellabeat_sql_csv/weekday_asleep.csv
bellabeat_sql_csv/user_type_activity.csv
.DS_Store
bellabeat_sql_csv/hourly_total_steps.csv
bellabeat_sql_csv/table_user_tracking_criteria.csv
bellabeat_sql_csv/table_user_type_activity.csv
bellabeat_sql_csv/user_tracking_criteria.csv
bellabeat_sql_csv/calories_vs_steps.csv
bellabeat_sql_csv/excel_versions/hourly_total_steps.xlsx
bellabeat_sql_csv/excel_versions/user_tracking_criteria.xlsx
bellabeat_sql_csv/excel_versions/user_type_activity.xlsx
bellabeat_sql_csv/excel_versions/weekday_asleep.xlsx
bellabeat_sql_csv/excel_versions/weekday_steps.xlsx
